/*  reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth; } 
body{
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: var(--dark-color);
    line-height: 1.6; 
}
.home{
    display: flex;
    flex-direction: row;
}
.column1{
    font-family: 'League Gothic', sans-serif;
    background-color: var(--dark-color);
    height: 700px;
    position:sticky;
    color:var(--primary-color);
}
.column1 p{
    margin: auto;
    text-align: center;
}
.column2{
    font-family: 'League Gothic', sans-serif;
    text-align: center;
    align-content: center;
    width: 900px;
    font-weight: 300;
}
.sidebar ul li{
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column ;
    align-content: space-around;
    text-align: center;
    font-size: 15px;
    letter-spacing: 5px;
}
.sidebar ul li a{
    color: var(--secondary-color)
}
img{
    margin: 50px;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
box-sizing: border-box;}

.icons{
    padding:50px 100px;
}
.icons i{
    background-color: var(--secondary-color);
    color:var(--light-color);
    padding:20px;
    border-radius: 50%;
    margin-bottom: 100px;
    margin: 20px;
    justify-content: space-around;
}
.icons h3{
    color: var(--primary-color);
    font-weight: 400;
    font-family: 'ınter', sans-serif ;}

.column2 .content {
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: center;
        text-align: start;
        padding: 0 10px;
        height: 100%;
    margin-left: 20px;}
    
.column2 .content h1 {
        font-size: 50px;
        max-width: 1000px;
        letter-spacing: 5px;
}
.column2 .content p{
        font-size: 28px;
        font-weight:600px;
        margin: 20px 0 30px;}